<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Route invalide : {{ status_text }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1 style="padding-top:1px">Erreur détectée</h1>
    <div>
     <h2>L'url saisie est invalide.</h2>
        <p>Veuillez contacter l'administrateur du site en cas de problème à l'adresse suivante :
            <strong>michelin.clement@gmail.com.</strong></p>
     <p><a href="{{ path('saya25_louvre_accueil')}}" class="btn btn-info"> Accueil du site </a></p>
    </div>
  </body>
</html>