{# src/saya25/LouvreBundle/Resources/views/Advert/accueil.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}
	<p> <a href="{{ path('saya25_louvre_billetterie') }}", class="btn btn-info btn-lg",  id="button_reservation">Réserver</a>

    <div>
      <h1> Tarif/Horaire </h1>
    </div>
    <div>
    	<h1> Récupérer un billet </h1>    	
    </div>

{% endblock %}