{# src/saya25/LouvreBundle/Resources/views/Advert/coordonnees.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=" {{  path('saya25_louvre_billetterie') }}">Billetterie</a></li></li>
        <li class="breadcrumb-item active">Coordonnées</li>
        <li class="breadcrumb-item"><a href=" {{  path('saya25_louvre_paiement') }}">Paiement</a></li>
        <li class="breadcrumb-item"><a href="#">Confirmation</a></li>
    </ol>

    <div>
    	<h1>Vos informations personnelles</h1> 
    </div>
    <div>
 		<h1>Récapitulatif</h1>

	</div>

    <script>
        $(document).ready(function() {
            var disableddates = ["25-12-2016", "01-05-2017", "01-11-2017", "25-12-2017"];

            function DisableSpecificDates(date) {
                var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
                return [disableddates.indexOf(string) == -1];
            }


            $(function() {
                $("#saya25_louvrebundle_commande_dateEntree").datepicker({
                    beforeShowDay: DisableSpecificDates,
                    minDate : 0,
                });
            });

            $( function() {
                $( "#saya25_louvrebundle_commande_dateEntree" ).datepicker();
                $.datepicker.regional['fr'] = {
                    closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                    monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
                    dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                    dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    weekHeader: 'Sem.',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''};
                $.datepicker.setDefaults($.datepicker.regional['fr']);
            });
        });
    </script>




    <div>
        {{ include("saya25LouvreBundle:Ticket:formCommande.html.twig") }}
    </div>
{% endblock %}