{# src/saya25/LouvreBundle/Resources/views/Advert/contact.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}


    <h1>Informations générales </h1>
    <p> Pour obtenir des informations sur le musée, les services à votre disposition
        et notre actualité, l'équipe du service de l'accueil est à votre disposition :</p>
    <h3>Banque d'information du musée :</h3>

    <p> Tél. : <span class="numTel">+33 (0)1 40 20 53 17</span></p>
    <p> tous les jours, sauf le mardi, de 9h à 18h30 (21h30 les mercredis et vendredis).</p>

    <h3> <a href="http://www.louvre.fr/preparer-sa-visite">Préparer votre visite</a> </h3>
    <h3>Consultez le plan interactif du Louvre :</h3>

    <h3><a href="http://www.louvre.fr/plan">Plan interractif du Louvre</a></h3>
    Information handicap
    <p class="numTel">Tél. : +33 (0)1 40 20 59 90</p>
{% endblock %}