{# src/saya25/LouvreBundle/Resources/views/Advert/piedDePage.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}
    <div class="container">
    <div class="row">
        <div class="piedDePage">
        <div class="col-sm-4 col-xs-12"> <a href="{{path('saya25_louvre_contact') }}" class="btn btn-info glyphicon glyphicon-envelope" id="contact">{{'Contactez-nous'|trans}} </a> </div>
        <div class="col-sm-4 col-xs-12">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="don">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="REVC2AHHABPQG">
                <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
            <div class="col-sm-4 col-xs-12"> <a href="{{path('saya25_louvre_mentionslegales') }}" class="btn btn-info" id="mentionLegales">{{'Mentions légales'|trans}} </a></div>
        </div>
    </div>
    </div>
{% endblock %}